@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1, 
h2 {
    font-weight: 3000;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* header styles */
.navbar {
    background-color: #023E7D;
    color: whitesmoke;
    height: 70px;
} 

.header-container{
    max-width:1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a{
    color: whitesmoke;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px whitesmoke solid; 
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}